@page { 
    size: A4; margin: 1.5cm; 
}

body {
    font-family: sans-serif;
    font-size: 8pt;
}

.border {
    border: 0.1em solid black;
}

.relaxed {
    padding: 0.5em;
    margin: 0em;
}

.right {
    text-align: right;
}

.center, .centre {
    text-align: center;
}

thead, tfoot {
    background-color: lightskyblue;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #eeeeee;
}